body {
    background-color: #A8BEE3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px;
    margin: 0;
    margin-right: auto;
    background-color: #d12923;
}

h1{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 150px;

}

.test {
    font-size: 23px;
    padding: 15px;
}