body {
    background:linear-gradient(to left bottom,#A8BEE3, #ececec,#4d4c4c);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

.image2 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

img {
    max-width: 96%;
    border-radius: 9px;
}

header {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px;
    margin: 0;
    margin-right: auto;
    background-color: #ff2e27;
    border-radius: 3px;
}

h1{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 150px;

}

.test {
    font-size: 23px;
}